*.egg-info/
dist/
ferro-hydrodynamic-convection-numeric-solution/build/
ferro-hydrodynamic-convection-numeric-solution/temp1/
ferro-hydrodynamic-convection-numeric-solution/temp/
ferro-hydrodynamic-convection-numeric-solution/__pycache__/

build/
